@font-face {
	font-family: Yeseva;
	src: url("..//fonts/YesevaOne/YesevaOne-Regular.ttf");
}

body {
	width: 1600px;
	margin: 0 auto;
	padding: 0;
	color: white;
}

header {
	background-image: url(..//img/header-bg.jpg);
	height: 750px;
}

.header-menu {
	display: flex;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
	-o-flex-flow: row;
	flex-flow: row;
	height: 160px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0));
}

.header-menu .logo {
	position: relative;
	right: 8px;
	top: 40px;
	/*padding-right: 61px;*/
	/*padding-top: 40px;*/
	width: 33%;
	font-size: 36px;
	font-family: Yeseva;
	text-align: center;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

.header-menu section {
	width: 33%;
}

.header-menu .page-nav a {
	display: inline-block;
	/*padding-top: 20px;*/
	width: 80px;
	height: 70px;
	font-size: 21px;
	border: 1px solid red;
	text-decoration: none;
	color: white;
}